html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, *::before, *::after { box-sizing: inherit; }
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
h1 {
    text-align: center;
    font-family: 'Hack';
    font-size: 2.4em;
    color: rgb(26, 67, 102);
}
.container .hero {
    -webkit-box-shadow: 4px 4px 5px 0px rgba(125,125,125,1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(125,125,125,1);
    box-shadow: 4px 4px 5px 0px rgba(125,125,125,1);
    flex: 0 0 calc(30% - 1rem);
    margin-bottom: 2rem;
    position: relative;
}
@media only screen and (max-width: 1108px) {
    .container .hero {
        flex: 0 0 calc(50% - 1rem);
    }
}
@media only screen and (max-width: 546px) {
    .container .hero {
        flex: 0 0 100%;
    }
}
.container .hero img { 
    display: block;
    width: 100%;
}
.info {
    position: absolute;
    background-color: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
}
.info h3 {
    position: absolute;
    color: white;
    font-family: 'Hack';
    font-size: 1.7em;
    background-color: rgba(0,0,0,.8);
    width: 100%;
    padding: 10px;
    text-align: center;
}
.info:hover {
    opacity: 1;
    transition: all .7s ease;
}
.buscador {
    width: 20%;
    border-bottom: 2px solid wheat;
    position: absolute;
    z-index: 1;
    right: -100%;
    top: 0;
    padding: 10px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
}
.buscador label {
    flex: 0 0 100%;
    margin-bottom: 5px;
}
.icono {
    background-color: rgba(0,0,0,.4);
    display: inline-block;
    position: fixed;
    right: 0;
    padding: 1em;
    color: wheat;
    cursor: pointer;
}
.mostrar {
    right: 0;
    transition: all 1s ease;
}